# Игнорируемые расширения
*.pdf
*.PDF
*.jpeg
*.JPEG
*.jpg
*.JPG
*.ifc
*.IFC
*.json
*.pt
*.png
.DS_Store

#bcrk.xtybz для сервиса
ai-ifc-vor-generator.code-workspace
start.sh

debug/
drawing_analysis/
blueprint_tiles/
__pycache__/
.env
.venv/
setup_local.md
run_local.sh
.python-version
.env.example
outputs/
outputs/sessions.json